  <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Employee", "Index", "Empss",null,new{@class="df"})</li>
        <li>@Html.ActionLink("Department", "IndexDept", "Empss", null, new { @class= "df" })</li>
    </ul>

