
@{
    ViewBag.Title = "Startup";
}
@using (Ajax.BeginForm("actionToDo", new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "updatediv",
    OnComplete = "$('#updatediv').hide().fadeIn()"
}))
{
    <div style="height:20px;">
        <div id='updatediv'>
            text to replace
        </div>
    </div>
    <input id='realsubmit' style='display:none;' type="submit" />
    <input id='fakesubmit' type="button" value="submit" onclick="$('#updatediv').fadeOut('slow'); setTimeout(function () { $('#realsubmit').click(); }, 1000);" />
}