
@{
    ViewBag.Title = "Startup";
}
@using (Ajax.BeginForm("Hello", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "gg" }))
{
    <input type="submit" value="Submit" />
    <div id="gg">Startup</div>
    
}
@*@section scripts{

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}*@
