
@{
    ViewBag.Title = "Employee-Department";
}
<script src="~/Scripts/refreshpage.js"></script>
<script src="~/Scripts/loginfailerrorhandle.js"></script>







<div style="margin-top:80px">
    
    <div id="Progress" style="display:none;">
        <img src='@Url.Content("~/images/ProgressCircle.gif")' />
    </div>
    <div id="render"></div>
    <h2><div id="updatemessage"></div></h2>
    <div id="deletemessage" style="display:none;"><h2>Deleted</h2></div>
    <h2><label id="createmessage"></label></h2>
    
</div>









   