<div>
    <form name="createdept">
        <h2>Create Department</h2>
        <fieldset>
            <label style="font:bold;" for="Department">Department Name</label>
            <input type="text" id="Department" class="form-control" ng-model="department.deptName" placeholder="Department Name" />
        </fieldset>
        <button type="submit" class="btn btn-primary" ng-click="createdepartment(department,createdept)" style="margin-top:10px;">Create</button>
    </form>

</div>
<div>{{message.message}}</div>
