<div ng-init="getAllDept()">
    <div>
        <div style="color:red;">{{delete.message}}</div>
        <h2>Departments</h2>
        <p>
            <a href="#CreateDepartment">CreateDepartment</a>
        </p>
        <table class="table-condensed table-bordered">
            <tr>
                <th>
                    Department Name
                </th>

                <th>
                    Update
                </th>
                <th>
                    Delete
                </th>
            </tr>

            <tr ng-repeat="departmentss in departmentsss">
                <td>
                    {{departmentss.DeptName}}
                </td>

                <td>
                    <a href="" ng-click="getAllDept(departments.DepartmentId)">Update</a>
                </td>
                <td>
                    <a href="" ng-click="deleteDept(departments.DepartmentId)">Delete</a>
                </td>
            </tr>

        </table>
    </div>
</div>
 