<div ng-init="getAllDepartment()">
    <div>
        <div style="color:red;">{{delete.message}}</div>
        <h2>Departments</h2>
        <p>
            <a href="#CreateDepartment">CreateDepartment</a>
        </p>
        <table class="table-condensed table-bordered">
            <tr>
                <th>
                    Department Name
                </th>
               
                <th>
                    Update
                </th>
                <th>
                    Delete
                </th>
            </tr>

            <tr ng-repeat="departments in data">
                <td>
                    {{departments.DeptName}}
                </td>
                
                <td>
                    <a href="" ng-click="getdepartment(departments.DepartmentId)">Update</a>
                </td>
                <td>
                    <a href="" ng-click="deletedepartment(departments.DepartmentId)">Delete</a>
                </td>
            </tr>

        </table>
    </div>
    </div>
 