@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Js/App.js"></script>
  <!-- include source files here... -->

    <script src="~/Js/Controllers/EmployeeDepartmentController.js"></script>

    <script src="~/Js/Services/Department.js"></script>
    
  <!-- include spec files here... -->

    <script src="~/Js/Tests/EmployeeDepartmentServiceSpec.js"></script>
    <script src="~/Js/Tests/EmployeeDepartmentControllerSpec.js"></script>
</head>

<body>
</body>
</html>
