
@{
    ViewBag.Title = "Startpage";
}


<script>
    if (window.location.hash.substring(1) != "") {
        
        var url = window.location.hash.substring(1);
        $("#Progress").show();
        $.ajax({
            url: url,
            type: "GET",
            datatype: "html",
            success: function (data) {
                $("#sd").html(data).fadeIn(500);
                $("#Progress").hide();
            },
            error: function (data) {

            }
        });
    }
  
</script>

<script>
    $(document).ready(function () {

        if (window.location == "http://localhost:1938/Empss/Startpage#/Auth/Login?check=1") {
           

            $("#Progress").show();
            $.ajax({
                url: "/Auth/LogIn",

                success: function (data) {
                   
                    $("#sd").html(data).fadeIn(500);
                   
                    //$("#wrg").val(error);
                    $("#Progress").hide();
                    //document.getElementById('wrg').style.display = "block";
                    $("#Wrg").show();
                },
                error: function (data) {

                }
            });
        }


    });

</script>



<div style="margin-top:80px">
    
    <div id="Progress" style="display:none;">
        <img src='@Url.Content("~/images/ProgressCircle.gif")' />
    </div>
    <div id="sd"></div>
    <h2><div id="upd"></div></h2>
    <div id="del" style="display:none;"><h2>Deleted</h2></div>
    <h2><label id="cre"></label></h2>
    
</div>









   