@model WebApplication1.Models.Dept
@{
    ViewBag.Title = "Update";
}
<script>
    $(function() {
        $("#up").click(function(e) {
            e.preventDefault();
            // var x = $("#DeptName").val();

            var upd = new departmentmodemodel();
            $.ajax({

                url: "/Empss/UpdateDept",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(upd),
                type: "POST",
                success: function (data) {
                    $("#up").hide();
                    $("#sd").hide();
                    $("#upd").show();
                    $("#upd").text(data.result);

                }
            });

        });
    }
    );

</script>
<script>
 function departmentmodemodel() {
        var self = this;
        self.DeptId = $("#DeptId").val();
        self.DeptName = $("#DeptName").val();
 }
</script>


<h2>Update</h2>
@using (Html.BeginForm("Update", "Depart", null, FormMethod.Post))
{ @Html.ValidationSummary(true)
    <div>@Html.HiddenFor(m => m.DeptId)</div>
    <div>@Html.LabelFor(m => m.DeptName)</div>
    <div>@Html.EditorFor(m => m.DeptName)</div>

}
<div>
    <input type="submit" value="Update" id="up" />
</div>



