@model WebApplication1.Models.Dept
@{
    ViewBag.Title = "Update";
}
<script>
    $(function() {
        $("#sub").click(function(e) {
            e.preventDefault();
            // var x = $("#DeptName").val();
            
            var upd = new departmentmodemodel();
            $.ajax({

                url: "/Depart/Update",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(upd),
                type: "POST",
                success: function (data) {
                    $("#sub").hide();
                    $("#sd").hide();
                    $("#upd").show();
                    $("#upd").text(data.result);

                }
            });

        });
    }
    );
   
</script>
<script>
 function departmentmodemodel() {
        var self = this;
        self.DeptId = $("#DeptId").val();
        self.DeptName = $("#DeptName").val();
 }
    </script>
@*<script type="text/javascript">
    $(document).ready(function () {
        // when the DOM has fully loaded...
        $("#btnSubmit").bind("click", function () {
            var onEventLaunchSquirrel = new postSquirrel();
            onEventLaunchSquirrel.launchSquirrel();
        });
    });
    function postSquirrel() {
        this.launchSquirrel = function () {

            // fetch values from input
            var name =@m
            

            // build json object
            var squirrel = {
                Name: name,
                
            };

            $.ajax({
                type: "POST",
                url: "/depart/Update",
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(squirrel),
                success: function (data) { console.log(data) },
                error: function (data) { console.log(data) }
            });

        }
    }

</script>*@

<h2>Update</h2>
@using (Html.BeginForm("Update", "Depart",null, FormMethod.Post))
{ @Html.ValidationSummary(true)
    <div>@Html.HiddenFor(m => m.DeptId)</div>
    <div>@Html.LabelFor(m => m.DeptName)</div>
    <div>@Html.EditorFor(m => m.DeptName)</div>
    
}
<div>
    <input type="submit" value="Update" id="sub" />
</div>


